<table>
	<thead n:if="count($headers)">
		<tr>
			<th n:foreach="$headers as $col" n:attr="(expand)$col->cellAttributes">{$col}</th>
		</tr>
	</thead>
	<tbody>
		<tr n:foreach="$values as $row">
			<td n:foreach="$row as $col" n:attr="(expand)$col->cellAttributes">{control $col}</td>
		</tr>
		<tr n:if="! count($values)">
			<td colspan="{$cols}">Record not found.</td>
		</tr>
	</tbody>

	<tfoot>
		<tr>
			<th colspan="{$cols - 1}">foot</th>
			<td>(c)</td>
		</tr>
	</tfoot>
</table>
